[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pypdf2 = "*"
openpyxl = "*"
django = "*"
celery = "*"
celery-progress = "*"
redis = "*"
django-celery-results = "*"

[requires]
python_version = "3.8"
