<div style="width: 100%;">
  <div id="dropzone-template" style="width: 100%;">


    <div class="dropzone-template-wrapper">
      <span>Uploading</span>

      <div class="upload-progress-wrapper">
        <div class="upload-info">
          <div data-dz-name class="dropzone-name"></div>
          <div class="upload-info-size">
            <div id="transferred-size"></div>
            <span>/</span>
            <div id="total-size"></div>
          </div>
        </div>

        <div id="upload-progress">
          <div></div>
        </div>
      </div>

    </div>



  </div>
</div>