body {
  font-family: "Rubik", "sans-serif";
  color: #1a202c;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > div {
  display: inline-flex;
  align-items: center;
  background-color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: #4a5568;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.navbar > div:hover {
  color: inherit;
}

.navbar > div:hover svg {
  color: inherit;
}

.navbar > div svg {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.25rem;
  margin-left: -0.25rem;
  color: #718096;
}

.container {
  margin: auto;
  padding: 1rem;
  max-width: 1024px;
}

.heading {
  margin-top: 4rem;
}

.heading h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

.heading strong {
  font-weight: 700;
}

.heading span {
  color: #4a5568;
}

.heading-actions {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.button {
  display: inline-block;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-weight: 400;
  color: #2b6cb0;
  background-color: white;
}

.button-primary {
  background-color: #3182ce;
  color: white;
  font-weight: 700;
}

.button-primary-inverse {
  background-color: white;
  color: #3182ce;
  font-weight: 700;
}

.button-primary:hover {
  background-color: #4299e1;
}

.button-secondary {
  background-color: #ebf8ff;
  color: inherit;
}

.button-icon {
  display: inline-flex;
  align-items: center;
}

.button-icon span {
  font-weight: 400;
}

.button-icon svg {
  height: 1.5rem;
  width: 1.5rem;
}

.external-link:hover span {
  color: #1a202c;
}

.external-link svg {
  margin-left: 0.5rem;
  color: #63b3ed;
}

.download svg {
  margin-right: 0.5rem;
  color: #bee3f8;
}

.document-add {
  height: 2.5rem;
  width: 2.5rem;
  color: #38a169;
}

.form-options {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  font-size: 0.85rem;
}

.form-options label {
  margin-left: 0.25rem;
}

#dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 16rem;
  border-radius: 0.5rem;
  border: 3px dashed #90cdf4;
  background-color: white;
  transition: height 1s;
}

#dropzone:hover {
  background-color: #ebf8ff;
  cursor: pointer;
}

.form-wrapper > .actions {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.ml-1 {
  margin-left: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-3 {
  margin-left: 0.75rem;
}

.step-title {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.step-content {
  margin-left: 1rem;
  flex: 1;
}

.step-icon {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  border: 1px dashed #a0aec0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.125rem;
}

.step-icon svg {
  height: 0;
  width: 0;
  transition: height 1s, width 1s;
}

.pdf-progress {
  color: #a0aec0;
  transition: color 1s;
}

.pdf-progress > div {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #f7fafc;
  border-radius: 0.25rem;
  min-height: 4.75rem;
}

.pdf-progress > div.active {
  color: #1a202c;
}

.active .step-icon {
  border-bottom: none;
  border-right: none;
  border-left: 2px solid #3182ce;
  border-top: 2px solid #3182ce;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-180 {
  100% {
    transform: rotate(180deg);
  }
}

.completed {
  color: #a0aec0;
}

.completed .step-content {
  display: block;
}

.completed .success-icon {
  color: #68d391;
  height: 1rem;
  width: 1rem;
}

.completed .step-icon {
  border: 1px solid #68d391;
}

.waiting {
  color: #a0aec0;
}

.waiting svg {
  border-color: #a0aec0;
}

.error {
  color: #e53e3e;
}

.error .error-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #e53e3e;
  display: none;
}

.error .step-icon {
  border: none;
  padding: 0;
}

#pdf-page-progress {
  display: flex;
  flex-direction: column;
  font-size: 0.85rem;
}

.hero-background::before {
  content: "";
  position: absolute;
  width: 50%;
  top: -50%;
  height: 300%;
  right: -25%;
  z-index: -1;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2390CDF4' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  transform: rotate(20deg);
}

.p-6 {
  padding: 1.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.disabled {
  pointer-events: none;
  background-color: #cbd5e0;
}

.disabled svg {
  color: white;
}

.h-14 {
  height: 3.5rem;
}

.progress-bar {
  height: 1rem;
  background-color: #e2e8f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  border-radius: 1rem;
}

.progress-bar > div {
  height: 100%;
  transition: width 0.2s;
  border-radius: 1rem;
}

.dropzone-message {
  display: flex;
  align-items: center;
  font-weight: 400;
}

.dropzone-message > span {
  margin-left: 1rem;
}

.dropzone-template-wrapper {
  display: flex;
  width: 100%;
  background-color: #ebf8ff;
  padding: 1rem;
  border-radius: 0.25rem;
  align-items: center;
}

.dropzone-template-wrapper > span {
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #3182ce;
  margin-right: 1rem;
}

.progress-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.progress-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.progress-info-size {
  display: flex;
  align-items: center;
}

.progress-total-size {
  margin-left: 0.25rem;
}

.progress-completed-size {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 0.25rem;
}

.error-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.25rem;
  color: #e53e3e;
  background-color: #fed7d7;
  width: 100%;
}

.error-banner-details {
  display: flex;
  align-items: center;
}

.error-banner svg {
  height: 2rem;
  width: 2rem;
  flex-shrink: 0;
}

.error-banner-details > span {
  margin-left: 1rem;
}

.error-banner-close {
  cursor: pointer;
}

.pdf-ready {
  border-radius: 0.25rem;
  margin-top: 2rem;
  min-height: 4.75rem;
  background-color: #3182ce;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.pdf-ready > span {
  font-size: 1.2rem;
}

/* .pdf-ready .download-pdf {
  background-color: white;
  color: #3182ce;
  font-weight: 700;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-left: 1.5rem;
} */

.pdf-ready > div {
  display: flex;
  align-items: center;
}

.refresh-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.refresh-button > div {
  padding: 0.5rem;
  background-color: #edf2f7;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.refresh-button > div:hover svg {
  animation: spin-180 0.75s ease-in-out;
}

.refresh-button svg {
  height: 1.5rem;
  width: 1.5rem;
  color: #2d3748;
}
