{% extends 'webapp/index.html' %}
{% load static %}

{% block content %}
<div class="heading">
  <h2>
    Your Force Account package is on the way...
  </h2>
  <span>It should automatically download when complete. If not, click the "Download PDF" button.</span>
</div>
<div class="progress-wrapper">

  <div class="progress-step" id="stage-1">
    <span class="step-icon">
      <svg viewBox="0 0 20 20" fill="currentColor" class="success-icon">
        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
        </path>
      </svg>
      <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="error-icon">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z">
        </path>
      </svg>
    </span>
    <span class="step-title">Loading data from Excel workbook</span>
    <div class="step-content"></div>
  </div>

  <div class="progress-step" id="stage-2">
    <span class="step-icon">
      <svg viewBox="0 0 20 20" fill="currentColor" class="success-icon">
        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
        </path>
      </svg>
      <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="error-icon">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z">
        </path>
      </svg>
    </span>
    <span class="step-title">Generating PDF pages</span>
    <div class="step-content">
      <div id="pdf-page-progress">
        <div><span id="current-page"></span> / <span id="total-pages"></span></div>
        <div id="progress-bar-container">
          <div id="progress-bar"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="progress-step" id="stage-3">
    <span class="step-icon">
      <svg viewBox="0 0 20 20" fill="currentColor" class="success-icon">
        <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd">
        </path>
      </svg>
      <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="error-icon">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z">
        </path>
      </svg>
    </span>
    <span class="step-title">Saving PDF to file</span>
    <div class="step-content"></div>
  </div>

  <div class="mt-12 heading-actions">
    <a href="#" class="button button-primary button-icon download disabled" id="pdf-download">
      <svg viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd">
        </path>
      </svg>
      Download PDF
    </a>
    <a href="{% url 'webapp:index' %}" class="ml-3 button">
      Generate another Force Account
    </a>
  </div>

</div>

<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
  <script src="{% static 'webapp/main.js' %}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
      CeleryProgressBar.initProgressBar(progressUrl, {
        onProgress: onProgress,
        onSuccess: onSuccess,
        onError: onError,
      });
    });
</script>
{% endblock content %}